<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
  <%= button_to "Create Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>

<h3> POKEMON </h3>
<% if @pokemon.empty? %>
  <p> No pokemon :( ... time to heal or catch some </p>
<% else %>
  <% @pokemon.each do |p| %>
    <% if p.health > 0 %>
      <h4> <%= p.name %> </h4>
      <p> Level: <%= p.level %> <br>
      Health: <%= p.health %> </p>
      <%= button_to "Attack this Pokemon!", damage_path(id: p.id), :class => "button medium", :method => :patch %>
    <% end %>
  <% end %>
<% end %>

<h3>Healing Center:</h3>
<% if @heal_pokemon.empty? %>
  <p> Nobody to heal =D </p>
<% else %>
  <% @heal_pokemon.each do |p| %>
    <h4> <%= p.name %> </h4>
    <p> Health: <%= p.health %> </p>
    <%= button_to "Heal this Pokemon", heal_path(id: p.id), :class => "button medium", :method => :patch %>
  <% end %>
<% end %>
